.table-view {
    -fx-background-color: #2E2E2E;
    -fx-border-color: #4CAF50;
    -fx-border-width: 2px;
    -fx-padding: 10px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 7px 14px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}